.container-BoxWithImage {
  display: block;
  background-color: #171017;
  width: 70%;
  max-width: 1000px;
  height: 600px;
  position: absolute;
  border: 4px solid #780400;
  border-radius: 10px;
}

.container-BoxWithImage-image {
  max-width: 50%;
  max-height: 25%;
  position: absolute;
}

.container-BoxWithImage-title {
  display: flex;
  color: #f2f3fa;
  width: 60%;
  text-align: center;
  margin: auto;
  padding-top: 20%;
  position: relative;
  text-shadow: 1px 0px 70px #1b2b8e;
  font-size: 18px;
  justify-content: center;
}

.container-BoxWithImage-button {
  width: 60%;
  margin: auto;
  border: none;
  background: #1b2b8e;
  color: #f2f3fa;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-bottom: 10%;
  cursor: pointer;
}
